body{
    background-color: ghostwhite;
    margin-top: 7%;
}

.container{
    width: 500px;
    background-color: white;
    box-shadow: 0 3px 9px grey;
    border-radius: 10px;
}

h3{
	font-family: 'Courier New', Courier, monospace;
}